<div class="example-button-row">
    
    <button mat-raised-button color="accent" routerLink="/welcome">LOGOUT</button>
  </div>

  <div >
<mat-selection-list >
    <mat-list-option class="main-div" *ngFor="let songs of Listofsongs">
      <audio controls>
        <source src="{{songs}}" type="audio/mpeg">
      </audio>
    </mat-list-option>
  </mat-selection-list>
</div>

  <div class="example">
    
    <button type="button" (click)="log()" mat-raised-button color="accent" >Add To Playlist</button>
  </div>
    