
<h2> Spotify  Registraction Form 
    <form (submit)="fun1()">
        <div>User Id <input type="text" name="uid" [(ngModel)]="obj.uid"></div>
        <div>User Name<input type="text" name="uname" [(ngModel)]="obj.uname"></div>
        <div>USer MobileNo <input type="text" name="mnumber" [(ngModel)]="obj.mnumber"></div>
        <div>USer Email <input type="text" name="email" [(ngModel)]="obj.email"></div>
        <div>USer Password<input type="text" name="password" [(ngModel)]="obj.password"></div>
        <div>PlayList-Name<input type="text" name="pname" [(ngModel)]="obj.pname"></div>
        <div>SondId<input type="text" name="sid" [(ngModel)]="obj.sid"></div>
        <div>SongUrl<input type="text" name="songurl" [(ngModel)]="obj.songurl"></div>
        <div> <input type="submit" value="submit"> </div>
    
    </form>
</h2>

<!-- <h3>
    <pre>
    StudentId       : {{studentObj.sid}}
    Student Name    : {{studentObj.sname}}
    Student Email   : {{studentObj.email}}
    Student Password: {{studentObj.password}}
    Student Marks   : {{studentObj.smarks}}
</pre>


</h3> -->
















<!-- <form [formGroup]="sportifyform" (ngSubmit)="fun1()">
    <div>Enter UserId <input type="text" formControlName="uid" [(ngModel)]="obj.uid"></div><br>
    <div *ngIf="sportifyform.controls['uid'].hasError('required')">
        <div style="color: red;">*User Id is Required</div>
    </div>
    
    <div *ngIf="sportifyform.controls['uid'].hasError('minlength')">
        <div style="color: red;">*Atleast 1 charateres Required</div>
    </div>
    <div *ngIf="sportifyform.controls['uid'].hasError('maxlength')">
        <div style="color: red;">*Can't Exceed 5 charaters </div>
    </div>

    <div>Enter UserName <input type="text" formControlName="uname" [(ngModel)]="obj.uname"></div><br>
    <div *ngIf="sportifyform.controls['uname'].hasError('required')">
        <div style="color: red;">*Name is Required</div>
    </div>
    
    <div *ngIf="sportifyform.controls['uname'].hasError('minlength')">
        <div style="color: red;">*Atleast 6 charateres Required</div>
    </div>

    <div *ngIf="sportifyform.controls['uname'].hasError('maxlength')">
        <div style="color: red;">*Can't Exceed 15 charaters </div>
    </div>

        <div>Enter MobileNumber <input type="text" formControlName="mnumber" [(ngModel)]="obj.mnumber"></div><br>
        <div *ngIf="sportifyform.controls['mnumber'].hasError('required')">
            <div style="color: red;">*MobileNumber is Required</div>
        </div>
        
        <div *ngIf="sportifyform.controls['mnumber'].hasError('minlength')">
            <div style="color: red;">*Atleast 10 charateres Required</div>
        </div>
        <div *ngIf="sportifyform.controls['mnumber'].hasError('maxlength')">
            <div style="color: red;">*Can't Exceed 12 charaters </div>
        </div>

    
    <div>Enter Email <input type="text" formControlName="email" [(ngModel)]="obj.email"></div><br>

    <div *ngIf="sportifyform.controls['email'].hasError('required')">
        <div style="color: red;">*Email is Required</div>
    </div>
    
    <div *ngIf="sportifyform.controls['email'].hasError('minlength')">
        <div style="color: red;">*Atleast 10 charateres Required</div>
    </div>
    <div *ngIf="sportifyform.controls['email'].hasError('maxlength')">
           <div style="color: red;">*Can't Exceed 15 charaters </div>
   </div>
   
   <div>Enter Password <input type="text" formControlName="password" [(ngModel)]="obj.password"><br><br></div>
   <div *ngIf="sportifyform.controls['password'].hasError('required')">
       <div style="color: red;">*password is Required</div>
   </div>
   <div *ngIf="sportifyform.controls['password'].hasError('minlength')">
       <div style="color: red;">*Atleast 6 charateres Required</div>
   </div>
   <div *ngIf="sportifyform.controls['password'].hasError('maxlength')">
       <div style="color: red;">*Can't Exceed 15 charaters </div>
   </div>

   <div>Enter PlayList <input type="text" formControlName="pname" [(ngModel)]="obj.pname"><br><br></div>
   <div *ngIf="sportifyform.controls['pname'].hasError('required')">
       <div style="color: red;">*playList Name is Required</div>
   </div>
   <div *ngIf="sportifyform.controls['pname'].hasError('minlength')">
       <div style="color: red;">*Atleast 6 charateres Required</div>
   </div>
   <div *ngIf="sportifyform.controls['pname'].hasError('maxlength')">
       <div style="color: red;">*Can't Exceed 10 charaters </div>
   </div>
  
   <div>Enter songId <input type="text" formControlName="sid" [(ngModel)]="obj.sid"><br><br></div>
   <div *ngIf="sportifyform.controls['sid'].hasError('required')">
       <div style="color: red;">*songid is Required</div>
   </div>
   <div *ngIf="sportifyform.controls['sid'].hasError('minlength')">
       <div style="color: red;">*Atleast 2 charateres Required</div>
   </div>
   <div *ngIf="sportifyform.controls['sid'].hasError('maxlength')">
       <div style="color: red;">*Can't Exceed 3 charaters </div>
   </div>

   <div>Enter SongUrl <input type="text" formControlName="songurl" [(ngModel)]="obj.songurl"><br><br></div>
   <div *ngIf="sportifyform.controls['songurl'].hasError('required')">
       <div style="color: red;">*SongUrl is Required</div>
   </div>
   <div *ngIf="sportifyform.controls['songurl'].hasError('minlength')">
       <div style="color: red;">*Atleast 20 charateres Required</div>
   </div>
   <div *ngIf="sportifyform.controls['songurl'].hasError('maxlength')">
       <div style="color: red;">*Can't Exceed 100 charaters </div>
   </div>
     
    <input type="submit" value="Submit">
   
 

  <div>
    userId: {{sportifyform.value.uid}} <br>
    Name: {{sportifyform.value.uname}} <br>
    MobileNo: {{sportifyform.value.mnumber}} <br>
    Email: {{sportifyform.value.email}} <br>
    Password: {{sportifyform.value.password}} <br>
    PlayList-Name: {{sportifyform.value.pname}} <br>
    SongId: {{sportifyform.value.sid}} <br>
    SongUrl: {{sportifyform.value.songurl}} <br>
   </div>



 

</form> -->