<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <audio controls>
        <source src="/assets/01aAfterTheBall.mp3" type="audio/mpeg">
      
    </audio>
    <audio controls>
       
        <source src="/assets/Hunson Abadeer.mp3" type="audio/mpeg">
    </audio>
</body>
</html> -->
<div class="example-container">
<mat-form-field color="accent" appearance="fill">
    <mat-label>Select me</mat-label>
    <mat-select>
      <mat-option value="option">assets/Hunson Abadeer.mp3</mat-option>
    </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>
</div>


<form (ngSubmit)="pro2()">
    <div>Enter Email Id <input type="textarea" name="email" [(ngModel)]="email1"></div> <br>
    <div>Enter Password<input type="textarea" name="Password" [(ngModel)]="password1"></div>
    <div><input type="submit" value="submit" ></div>
</form>
